.htaccess
joomla/administrator/cache/*
joomla/administrator/components/com_admin/*
joomla/administrator/components/com_banners/*
joomla/administrator/components/com_cache/*
joomla/administrator/components/com_categories/*
joomla/administrator/components/com_checkin/*
joomla/administrator/components/com_config/*
joomla/administrator/components/com_contact/*
joomla/administrator/components/com_content/*
joomla/administrator/components/com_cpanel/*
joomla/administrator/components/com_installer/*
joomla/administrator/components/com_jce/*
joomla/administrator/components/com_languages/*
joomla/administrator/components/com_login/*
joomla/administrator/components/com_media/*
joomla/administrator/components/com_menus/*
joomla/administrator/components/com_messages/*
joomla/administrator/components/com_modules/*
joomla/administrator/components/com_newsfeeds/*
joomla/administrator/components/com_plugins/*
joomla/administrator/components/com_redirect/*
joomla/administrator/components/com_search/*
joomla/administrator/components/com_templates/*
joomla/administrator/components/com_users/*
joomla/administrator/components/com_weblinks/*
joomla/administrator/components/index.html
joomla/administrator/help/*
joomla/administrator/includes/*
joomla/administrator/language/
joomla/administrator/language/overrides/*
joomla/administrator/language/index.html
joomla/administrator/manifests/*
joomla/administrator/modules/mod_custom/*
joomla/administrator/modules/mod_feed/*
joomla/administrator/modules/mod_latest/*
joomla/administrator/modules/mod_logged/*
joomla/administrator/modules/mod_login/*
joomla/administrator/modules/mod_menu/*
joomla/administrator/modules/mod_online/*
joomla/administrator/modules/mod_popular/*
joomla/administrator/modules/mod_quickicon/*
joomla/administrator/modules/mod_status/*
joomla/administrator/modules/mod_submenu/*
joomla/administrator/modules/mod_title/*
joomla/administrator/modules/mod_toolbar/*
joomla/administrator/modules/mod_unread/*
joomla/administrator/modules/index.html
joomla/administrator/templates/bluestork/*
joomla/administrator/templates/hathor/*
joomla/administrator/templates/system/*
joomla/administrator/templates/index.html
joomla/administrator/index.php
joomla/cache/*
joomla/components/com_banners/*
joomla/components/com_contact/*
joomla/components/com_content/*
joomla/components/com_jce/*
joomla/components/com_mailto/*
joomla/components/com_media/*
joomla/components/com_newsfeeds/*
joomla/components/com_search/*
joomla/components/com_users/*
joomla/components/com_weblinks/*
joomla/components/com_wrapper/*
joomla/components/index.html
joomla/images/banners/*
joomla/images/sampledata/*
joomla/images/joomla*
joomla/images/index.html
joomla/images/powered_by.png
joomla/includes/*
joomla/installation/*
joomla/language/en-GB/
joomla/language/overrides/*
joomla/language/index.html
joomla/language/nb-NO/
joomla/libraries/joomla/*
joomla/libraries/phpmailer/*
joomla/libraries/phputf8/*
joomla/libraries/simplepie/*
joomla/libraries/index.html
joomla/libraries/loader.php
joomla/logs/*
joomla/media/contacts/*
joomla/media/editors/*
joomla/media/mailto/*
joomla/media/media/*
joomla/media/mod_languages/*
joomla/media/system/*
joomla/media/index.html
joomla/modules/mod_articles_archive/*
joomla/modules/mod_articles_categories/*
joomla/modules/mod_articles_category/*
joomla/modules/mod_articles_latest/*
joomla/modules/mod_articles_news/*
joomla/modules/mod_articles_popular/*
joomla/modules/mod_banners/*
joomla/modules/mod_breadcrumbs/*
joomla/modules/mod_custom/*
joomla/modules/mod_feed/*
joomla/modules/mod_footer/*
joomla/modules/mod_languages/*
joomla/modules/mod_login/*
joomla/modules/mod_menu/*
joomla/modules/mod_random_image/*
joomla/modules/mod_related_items/*
joomla/modules/mod_search/*
joomla/modules/mod_stats/*
joomla/modules/mod_syndicate/*
joomla/modules/mod_users_latest/*
joomla/modules/mod_weblinks/*
joomla/modules/mod_whosonline/*
joomla/modules/mod_wrapper/*
joomla/modules/index.html
joomla/plugins/authentication/example/*
joomla/plugins/authentication/gmail/*
joomla/plugins/authentication/joomla/*
joomla/plugins/authentication/ldap/*
joomla/plugins/authentication/index.html
joomla/plugins/content/emailcloak/*
joomla/plugins/content/example/*
joomla/plugins/content/geshi/*
joomla/plugins/content/joomla/*
joomla/plugins/content/loadmodule/*
joomla/plugins/content/pagebreak/*
joomla/plugins/content/pagenavigation/*
joomla/plugins/content/vote/*
joomla/plugins/content/index.html
joomla/plugins/editors/codemirror/*
joomla/plugins/editors/none/*
joomla/plugins/editors/tinymce/*
joomla/plugins/editors/index.html
joomla/plugins/editors-xtd/article/*
joomla/plugins/editors-xtd/image/*
joomla/plugins/editors-xtd/pagebreak/*
joomla/plugins/editors-xtd/readmore/*
joomla/plugins/editors-xtd/index.html
joomla/plugins/extension/example/*
joomla/plugins/extension/joomla/*
joomla/plugins/extension/index.html
joomla/plugins/search/categories/*
joomla/plugins/search/contacts/*
joomla/plugins/search/content/*
joomla/plugins/search/newsfeeds/*
joomla/plugins/search/weblinks/*
joomla/plugins/search/index.html
joomla/plugins/system/cache/*
joomla/plugins/system/debug/*
joomla/plugins/system/languagefilter/*
joomla/plugins/system/log/*
joomla/plugins/system/logout/*
joomla/plugins/system/p3p/*
joomla/plugins/system/redirect/*
joomla/plugins/system/remember/*
joomla/plugins/system/sef/*
joomla/plugins/system/index.html
joomla/plugins/user/contactcreator/*
joomla/plugins/user/example/*
joomla/plugins/user/joomla/*
joomla/plugins/user/profile/*
joomla/plugins/user/index.html
joomla/plugins/index.html
joomla/templates/atomic/*
joomla/templates/beez_20/*
joomla/templates/beez5/*
joomla/templates/system/*
joomla/templates/index.html
joomla/tmp/*
joomla/configuration.php
joomla/index.php
joomla/joomla.xml
joomla/*.txt
passwords
configuration.php
